img.wp-post-image,
article img,
figure,
#secondary img {
    margin-bottom: 10px;
}

.wp-caption-text {
    margin-bottom: 10px;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

#page {
    word-wrap: break-word;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px 1fr 100px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    grid-template-areas: "one one . . three three" "one one two two three three" "five five two two six six" "five five four four six six" ". . four four . .";
}