img.wp-post-image,
article img,
figure,
#secondary img {
    border-radius: 10px;
    -webkit-box-shadow: 3px 2px 13px;
    box-shadow: 3px 2px 13px;
    background-color: #00ffff;
}

.wp-caption-text {
    margin-bottom: 10px;
}

.widget-area aside {
    padding-bottom: 10px;
    padding-top: 10px;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}

#page {
    word-wrap: break-word;
}