.portfolio-grid div.card {
    box-shadow: -5px -5px 6px #cfcbcb;
}

h1 {
    font-family: Roboto Slab;
    font-size: 2.814697265625em;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h2 {
    font-family: Roboto Slab;
    font-size: 2em;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: Roboto Slab;
    font-size: 1.44140625em;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h4 {
    font-family: Roboto Slab;
    font-size: 1.253125em;
    line-height: 1rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h5 {
    font-family: Roboto Slab;
    font-size: 1.1em;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h6 {
    font-family: Roboto Slab;
    font-size: 1em;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

p {
    font-family: Roboto;
    font-size: 1.1em;
    font-weight: 400;
    font-style: normal;
}

.nav-item {
    font-size: 1em;
    font-family: Roboto;
}

div#card-inner:hover {
    background-color: #961313;
    color: #f6e4e4;
    box-shadow: 4px 4px 8px #403838;
    transform: translate(-3px, -3px);
    transition: color 1s ease  , all 500ms ease-in;
}

.modal-body img:hover {
    transform: scale(2);
    transition: all 500ms ease-in-out;
}

.card-img-top {
    width: 100%; /* Required because we use flexbox and this inherently applies align-self: stretch*/
    background-size: cover;
    pg-file: "cs-source-11-16-55";
    pg-id: 23;
}

.portfolio-body {
    background: linear-gradient(90deg, #360033, #0b8793);
}