.portfolio-grid div.card {
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #fffdfd;
}

.nav-item {
    font-size: 1em;
    font-family: Alaskaregular;
    transition: all 500ms ease-in;
    font-weight: 800;
}

div#card-inner:hover {
    color: #f6e4e4;
    box-shadow: 4px 4px 8px #403838;
    border-radius: 10px;
    background: linear-gradient(90deg, #c94b4b, #4b134f);
    transition: all 1s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-body img:hover {
}

.card-img-top {
    width: 100%; /* Required because we use flexbox and this inherently applies align-self: stretch*/
    height: 200px;
    margin: 10px;
    border-top: 0px solid;
    border-radius: 20px;
    pg-file: "cs-source-11-16-55";
    pg-id: 23;
}

div.col-md-2 h4.card-title {
    writing-mode: vertical-rl;
    font-family: Roboto Slab;
    font-size: 1.5em;
}

div.card-body .btn {
    background-image: linear-gradient(90deg, #16222A, #3A6073);
    border-radius: 8px;
    box-shadow: 2px 2px 9px #000000;
    font-family: Roboto Mono;
    font-size: 1em;
    font-weight: 800;
}

.color-change-2x {
    -webkit-animation: color-change-2x 5s linear infinite alternate both;
    animation: color-change-2x 5s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
    0% {
        background: #2193b0;
    }

    100% {
        background: #6dd5ed;
    }
}

@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}

.tracking-in-expand:hover {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    display: none;
    overflow: hidden;

    /* Prevent Chrome on Windows from adding a focus outline. For details, see*/
    /* https://github.com/twbs/bootstrap/pull/10951.*/
    outline: 0;

    /* We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a*/
    /* gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342*/
    /* See also https://github.com/twbs/bootstrap/issues/17695*/
    background: linear-gradient(327deg, rgb(71, 118, 230) 0%, rgba(142, 84, 233, 0.89) 100%);
    pg-file: "cs-source-29-16-65";
    pg-id: 3;
}

h1 {
    font-family: alaskaregular;
    font-size: 2em;
    line-height: 2rem;
    font-style: oblique;
    letter-spacing: 0em;
    font-weight: 600;
}

h2 {
    font-family: Alaskaregular;
    font-size: 1.8em;
    line-height: 1.5rem;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: alaskaregular;
    font-size: 1.44140625em;
    line-height: 1.4rem;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-family: Roboto Slab;
    font-size: 1.253125em;
    line-height: 1rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h5 {
    font-family: Roboto Slab;
    font-size: 1.1em;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h6 {
    font-family: Roboto Slab;
    font-size: 1em;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

p {
    font-family: Roboto;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    font-variant: small-caps;
    padding-left: 15px;
    padding-right: 15px;
    word-break: normal;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.card--1 .card__img,
.card--1 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.card--2 .card__img,
.card--2 .card__img--hover {
    background-image: url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(28, 10, 10, 0.66);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #2997d4;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

section.cards-grid {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
    grid-template-rows: 100px 100px 1fr 100px 100px 1fr 100px 100px 100px 100px;
    grid-gap: 30px;
}

.blog-item img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog-item a {
    display: flex;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 50px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item .icon {
    width: 35%;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.4);
}

.blog-item .content {
    width: 100%;
}

.blog-item .content .title {
    font-size: 21px;
    text-transform: capitalize;
    color: #25aae1;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}

.blog-item .content .title .blog-date {
    font-size: 12px;
    margin-left: 20px;
    color: #333;
    font-family: 'Lato', sans-serif;
}

.blog-item .content .title .blog-date:before {
    content: '/';
    color: #2bb673;
    font-size: 25px;
    top: auto;
    position: relative;
    margin-right: 10px;
}

.blog-item .content .rounded {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-item .item-arrow {
    height: 20px;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 35px;
    left: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.blog-item a:hover > .item-arrow {
    /*padding-left: 40px;*/
    color: #25aae1;
    left: 30px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.rounded {
    width: 70px;
    height: 5px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #25aae1, #40e495);

    /* background: #2bb769; */
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .blog-item .content {
        width: 100%;
        margin-top: 35px;
    }

    .blog-item .content .title {
        font-size: 18px;
    }

    .blog-item .item-arrow {
        margin: auto;
    }

    .blog-item .icon {
        width: 100%;
    }

    .blog-item .icon img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .blog-item {
        width: 92%;
        margin: auto;
    }

    .blog-item a {
        display: block;
        padding: 30px;
    }
}

ul.navbar-nav {
    border-radius: 6px;
    background-color: #ffffff;
}

.nav-item:hover {
    background-color: rgba(41, 151, 212, 0.36);
    border-radius: 10px;
}

.scroll-top {
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 25px;
    right: 20px;
    display: none;
}

.scroll-top i {
    display: inline-block;
    color: #fff;
}

.article {
}

article {
    border-radius: 17px;
    box-shadow: 1px 3px 10px;
    border-color: rgba(0, 0, 0, 0.27);
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.snip1573 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    max-width: 315px;
    min-width: 200px;
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.snip1573 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1573:before,
.snip1573:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #000000;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 1;
}

.snip1573:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.snip1573 img {
    backface-visibility: hidden;
    max-width: 100%;
    max-height: 220px;
}

.snip1573 figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.snip1573 h3 {
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.snip1573 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.snip1573:hover > img,
.snip1573.hover > img {
    opacity: 0.5;
}

.snip1573:hover:before,
.snip1573.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after,
.snip1573.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption,
.snip1573.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.entry-content .btn-secondary:hover {
    margin-left: 15px;
    margin-bottom: 3px;
    background: linear-gradient(90deg, #232526, #414345);
    box-shadow: 1px 1px 5px #0b0b0b;
}

.entry-content .btn-secondary {
    margin-left: 15px;
    margin-bottom: 3px;
}

#index-wrapper.wrapper {
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
}

.portfolio-body {
    padding-top: 99px;
}

#wrapper-footer {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -25px;
}

article:hover {
    transform: translate(-5px, -5px);
    transition: transform 400ms;
    box-shadow: 4px 4px 22px;
}

.entry-header {
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
}

#right-sidebar.widget-area {
    background: linear-gradient(90deg, #E0EAFC, #CFDEF3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.carousel-caption {
    background: linear-gradient(90deg, rgba(0, 210, 255, 0.74) 0%, rgba(58, 123, 213, 0.61) 100%);
    border-radius: 25px;
}

.carousel-item img {
    filter: brightness(0.5);
    max-height: 300px;
}

@font-face {
    font-family: 'alaskaregular';
    src: url('fonts/alaska_font-webfont.woff2') format('woff2'),
         url('fonts/alaska_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.jumbotron-2 {
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
}

.jumbotron-2 h1.display-3.col-lg-4 {
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
    border-radius: 25px;
}

> button.navbar-toggler {
}

.jumbotron-2 .col-md-4 {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.jumbotron-2 h1 {
    writing-mode: sideways-lr;
}

p.lead {
    font-family: alaskaregular;
}

.jumbotron-2 .col-md-3 {
    border-radius: 6px;
}

.jumbotron-2 .col-md-2 {
    border-radius: -4px;
}