.portfolio-grid div.card {
    box-shadow: -5px -5px 6px #cfcbcb;
}

h1 {
    font-family: Roboto Slab;
    font-size: 3.814697265625em;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h2 {
    font-family: Roboto Slab;
    font-size: 2.55em;
    line-height: 6rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h3 {
    font-family: Roboto Slab;
    font-size: 2.44140625em;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h4 {
    font-family: Roboto Slab;
    font-size: 1.953125em;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h5 {
    font-family: Roboto Slab;
    font-size: 1.5625em;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

h6 {
    font-family: Roboto Slab;
    font-size: 1.25em;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
}

p {
    font-family: Roboto;
    font-size: 1.2em;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
}

.nav-item {
    font-size: 1em;
    font-family: Roboto;
}

div#card-inner:hover {
    background-color: #a32b02;
    color: #f6e4e4;
    box-shadow: 4px 4px 8px #403838;
    transform: translate(-3px, -3px);
    transition: color 1s ease  , all 500ms ease-in;
}

.modal-body img:hover {
    transform: scale(2);
}